body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #E7496F;
  overflow: hidden;
  box-shadow: inset 0px 0px 30px 10px rgba(0,0,0,0.6);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(9, 1fr);
  perspective: 1000px;
}

.tile {
  width: 14vw;
  height: auto;
}

.rabbit1{
  position: absolute;
  width: 20vw;
  height: 20vw;
  top: 30vh;
  left: 25vw;
  img{
    position: absolute;
  }
}

.rabbit2{
  position: absolute;
  width: 20vw;
  height: 20vw;
  top: 30vh;
  right: 25vw;
  img{
    position: absolute;
  }
}